<div xmlns:th="http://www.thymeleaf.org">

    <a th:href="@{/elementGroups}">Элементы по группам</a>
    | &nbsp;
    <a th:href="@{/elements}">Элементы</a>
    | &nbsp;
    <a th:href="@{/families}">Семейства</a>
    | &nbsp;
    <a th:href="@{/materials}">Материалы</a>
    | &nbsp;
    <a th:href="@{/areas}">Площади</a>
    | &nbsp;
    <a th:href="@{/levels}">Отметки</a>
    | &nbsp;
    <a th:href="@{/categories}">Категории</a>
    | &nbsp;
    <a th:href="@{/fers}">ФЕР</a>
    | &nbsp;
    <a th:href="@{/fsscms}">ФССЦм</a>

</div>
<div>______________________________________________________________________________________________________</div>